[Desktop Entry]
Name=HiveRecon Scanner
Comment=AI-Powered Bug Bounty Reconnaissance Framework
Exec=/home/vibhxr/hiverecon/hiverecon.sh scan -t %U
Icon=network-workgroup
Terminal=true
Type=Application
Categories=Network;Security;
Keywords=security;scanner;bug bounty;recon;
StartupNotify=true
